html {
  font-family: "Space Mono", monospace;
  font-style: italic;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
/* ----------------------header---------------------- */
header {
  overflow: hidden;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f2027;
  position: sticky;
  width: 100%;
  height: 75px;
  top: 0;
  left: 0;
  border-bottom: solid 1px #ef7318;
  z-index: 1000;
  overflow: hidden;
}

.main-header a {
  text-decoration: none;
  color: white;
  font-style: normal;
}

@media (max-width: 350px) {
  .main-header a {
    font-size: 0.9rem;
  }
}
.logo {
  color: #ef7318 !important;
  margin-left: 15px;
  font-weight: thin;
  font-style: normal;
  font-size: 1.6rem;
}

#navbar {
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-right: 10%;
  z-index: 100;
}

#navbar a:hover {
  text-decoration: underline #ef7318;
}
/* ----------------------welcome---------------------- */
#welcome-section {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#welcome-section h1 {
  font-weight: 500;
  margin: 0 0.5rem 0 0.5rem;
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 350px) {
  #welcome-section h1 {
    font-size: 2rem;
  }
}

.description-title {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.profile-icon {
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

/* ----------------------about me---------------------- */
.about {
  background-color: #2c5364;
  padding: 3rem;
}
.about-container {
  min-width: auto;
  max-width: 1080px;
  display: flex;
  margin: auto;
  gap: 3rem;
}

@media (max-width: 800px) {
  .about {
    padding: auto;
  }
  .about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
  }
  .profile-img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: auto;
  }
}

.profile-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.about-description {
  width: auto;
  color: white;
  margin: auto;
}

.about-icon {
  color: #ef7318;
  font-size: 2rem;
}
/* ----------------------work---------------------- */
#projects {
  margin: auto;
  margin-bottom: 2.5rem;
  max-width: 1080px;
  width: auto;
}
#projects h3 {
  text-align: center;
  margin-bottom: 3rem;
}

.project-wrap {
  display: flex;
  justify-content: space-evenly;
}

.project-tile {
  border: solid 1px;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.51);
  padding-bottom: 2rem;
}

.project-tile a {
  text-decoration: none;
  margin-bottom: 1.5rem;
}

.project-img {
  width: 250px;
  height: 250px;
  border-bottom: solid 1px black;
}

@media (max-width: 800px) {
  .project-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
}

/* ----------------------contact---------------------- */

.contact-section {
  background-color: #0f2027;
  padding: 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-wrap h1 {
  font-size: 3.5rem;
  margin: 0;
  color: white;
}

@media (max-width: 350px) {
  .contact-wrap h1 {
    font-size: 2rem;
  }

  .social-container {
    display: flex;
    flex-direction: column;
  }

  .social-container a {
    margin-left: 0 !important;
  }
}

.contact-wrap span {
  color: white;
}

.social-container a {
  text-decoration: none;
  color: #ef7318;
  margin-left: 30px;
}

.social {
  font-style: normal;
  margin-top: 25px;
}

footer {
  text-align: center;
}
